* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

#color-palette {
  text-align: center;
}

.color {
  display: inline-block;
  border: solid 1px;
  height: 40px;
  width: 40px;
  margin: 5px;
}

#pixel-board {
  text-align: center;
}

.pixel {
  display: inline-block;
  border: solid 1px;
  height: 40px;
  width: 40px;
}
